header{
    background-color: #7851F0;
    color:whitesmoke;
    padding: 2%;
}
main{
  
    background-color: #AC51F0;
    color:whitesmoke;
    padding: 2%;
}
footer{
    background-color: #F542A9;
    color:whitesmoke;
    padding: 2%;
}